*.png
*.out
data/**
result/**
paperplot/**
one_click_sam/result/**
notebook/**
covariance/**
sbi-logs/**
sbi-unused/**
one_click_sam/test/**
one_click_sam/test5/**
one_click_sam/test1/**
one_click_sam/test3/**
one_click_sam/orginal_SAMs/**
one_click_sam/test3_1/**
one_click_sam/params/**
*stdout*
*stderr*

